# Chapter 2 : Data Types and Missing Values

In [1]:
import pandas as pd

bikes = pd.read_csv('Divvy_Trips.csv')
bikes.head()

,TRIP ID,START TIME,STOP TIME,BIKE ID,TRIP DURATION,FROM STATION ID,FROM STATION NAME,TO STATION ID,TO STATION NAME,USER TYPE,GENDER,BIRTH YEAR,FROM LATITUDE,FROM LONGITUDE,FROM LOCATION,TO LATITUDE,TO LONGITUDE,TO LOCATION
0,25962904,12/31/2019 11:57:17 PM,12/31/2019 11:59:18 PM,5930,120,256,Broadway & Sheridan Rd,240,Sheridan Rd & Irving Park Rd,Subscriber,Male,1982.0,41.952833,-87.649993,POINT (-87.649993 41.952833),41.954245,-87.654406,POINT (-87.654406 41.954245)
1,25962903,12/31/2019 11:57:11 PM,01/01/2020 12:05:45 AM,2637,514,623,Michigan Ave & 8th St,52,Michigan Ave & Lake St,Subscriber,Female,1970.0,41.872773,-87.623981,POINT (-87.623981 41.872773),41.886024,-87.624117,POINT (-87.624117 41.886024)
2,25962902,12/31/2019 11:57:05 PM,01/01/2020 12:05:46 AM,863,520,623,Michigan Ave & 8th St,52,Michigan Ave & Lake St,Subscriber,Male,1967.0,41.872773,-87.623981,POINT (-87.623981 41.872773),41.886024,-87.624117,POINT (-87.624117 41.886024)
3,25962901,12/31/2019 11:56:34 PM,01/01/2020 12:22:08 AM,4877,1533,90,Millennium Park,90,Millennium Park,Subscriber,Male,1992.0,41.881032,-87.624084,POINT (-87.62408432 41.8810317),41.881032,-87.624084,POINT (-87.62408432 41.8810317)
4,25962900,12/31/2019 11:56:13 PM,01/01/2020 12:15:45 AM,2196,1172,112,Green St & Randolph St,225,Halsted St & Dickens Ave,Subscriber,Male,1981.0,41.883668,-87.648670,POINT (-87.64867 41.883668),41.919936,-87.648830,POINT (-87.64883 41.919936)

In [2]:
bikes = pd.read_csv('Divvy_Trips.csv', parse_dates = ['START TIME', 'STOP TIME'])
bikes.dtypes

TRIP ID                       int64
START TIME           datetime64[ns]
STOP TIME            datetime64[ns]
BIKE ID                       int64
TRIP DURATION                 int64
FROM STATION ID               int64
FROM STATION NAME            object
TO STATION ID                 int64
TO STATION NAME              object
USER TYPE                    object
GENDER                       object
BIRTH YEAR                  float64
FROM LATITUDE               float64
FROM LONGITUDE              float64
FROM LOCATION                object
TO LATITUDE                 float64
TO LONGITUDE                float64
TO LOCATION                  object
dtype: object

# Exercise 2

In [3]:
bikes = pd.read_csv('Divvy_Trips.csv', parse_dates = ['START TIME', 'STOP TIME'])
bikes.head(2)

,TRIP ID,START TIME,STOP TIME,BIKE ID,TRIP DURATION,FROM STATION ID,FROM STATION NAME,TO STATION ID,TO STATION NAME,USER TYPE,GENDER,BIRTH YEAR,FROM LATITUDE,FROM LONGITUDE,FROM LOCATION,TO LATITUDE,TO LONGITUDE,TO LOCATION
0,25962904,2019-12-31 23:57:17,2019-12-31 23:59:18,5930,120,256,Broadway & Sheridan Rd,240,Sheridan Rd & Irving Park Rd,Subscriber,Male,1982.0,41.952833,-87.649993,POINT (-87.649993 41.952833),41.954245,-87.654406,POINT (-87.654406 41.954245)
1,25962903,2019-12-31 23:57:11,2020-01-01 00:05:45,2637,514,623,Michigan Ave & 8th St,52,Michigan Ave & Lake St,Subscriber,Female,1970.0,41.872773,-87.623981,POINT (-87.623981 41.872773),41.886024,-87.624117,POINT (-87.624117 41.886024)

In [4]:
bikes.dtypes

TRIP ID                       int64
START TIME           datetime64[ns]
STOP TIME            datetime64[ns]
BIKE ID                       int64
TRIP DURATION                 int64
FROM STATION ID               int64
FROM STATION NAME            object
TO STATION ID                 int64
TO STATION NAME              object
USER TYPE                    object
GENDER                       object
BIRTH YEAR                  float64
FROM LATITUDE               float64
FROM LONGITUDE              float64
FROM LOCATION                object
TO LATITUDE                 float64
TO LONGITUDE                float64
TO LOCATION                  object
dtype: object

In [5]:
type(bikes.dtypes)

pandas.core.series.Series

In [6]:
bikes.shape

(2033, 18)

In [7]:
bikes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2033 entries, 0 to 2032
Data columns (total 18 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   TRIP ID            2033 non-null   int64
 1   START TIME         2033 non-null   datetime64[ns]
 2   STOP TIME          2033 non-null   datetime64[ns]
 3   BIKE ID            2033 non-null   int64
 4   TRIP DURATION      2033 non-null   int64
 5   FROM STATION ID    2033 non-null   int64
 6   FROM STATION NAME  2033 non-null   object
 7   TO STATION ID      2033 non-null   int64
 8   TO STATION NAME    2033 non-null   object
 9   USER TYPE          2033 non-null   object
 10  GENDER             2011 non-null   object
 11  BIRTH YEAR         2029 non-null   float64
 12  FROM LATITUDE      2033 non-null   float64
 13  FROM LONGITUDE     2033 non-null   float64
 14  FROM LOCATION      2033 non-null   object
 15  TO LATITUDE        2033 non-null   float64
 16  TO LONGITUDE       2033 non-null   float64
 17  TO LOCATION        2033 non-null   object
dtypes: datetime64[ns](2), float64(5), int64(5), object(6)
memory usage: 286.0+ KB

In [12]:
bk = pd.read_csv('Divvy_Trips.csv', index_col=6)
bk.head()

,TRIP ID,START TIME,STOP TIME,BIKE ID,TRIP DURATION,FROM STATION ID,TO STATION ID,TO STATION NAME,USER TYPE,GENDER,BIRTH YEAR,FROM LATITUDE,FROM LONGITUDE,FROM LOCATION,TO LATITUDE,TO LONGITUDE,TO LOCATION
FROM STATION NAME,,,,,,,,,,,,,,,,,
Broadway & Sheridan Rd,25962904,12/31/2019 11:57:17 PM,12/31/2019 11:59:18 PM,5930,120,256,240,Sheridan Rd & Irving Park Rd,Subscriber,Male,1982.0,41.952833,-87.649993,POINT (-87.649993 41.952833),41.954245,-87.654406,POINT (-87.654406 41.954245)
Michigan Ave & 8th St,25962903,12/31/2019 11:57:11 PM,01/01/2020 12:05:45 AM,2637,514,623,52,Michigan Ave & Lake St,Subscriber,Female,1970.0,41.872773,-87.623981,POINT (-87.623981 41.872773),41.886024,-87.624117,POINT (-87.624117 41.886024)
Michigan Ave & 8th St,25962902,12/31/2019 11:57:05 PM,01/01/2020 12:05:46 AM,863,520,623,52,Michigan Ave & Lake St,Subscriber,Male,1967.0,41.872773,-87.623981,POINT (-87.623981 41.872773),41.886024,-87.624117,POINT (-87.624117 41.886024)
Millennium Park,25962901,12/31/2019 11:56:34 PM,01/01/2020 12:22:08 AM,4877,1533,90,90,Millennium Park,Subscriber,Male,1992.0,41.881032,-87.624084,POINT (-87.62408432 41.8810317),41.881032,-87.624084,POINT (-87.62408432 41.8810317)
Green St & Randolph St,25962900,12/31/2019 11:56:13 PM,01/01/2020 12:15:45 AM,2196,1172,112,225,Halsted St & Dickens Ave,Subscriber,Male,1981.0,41.883668,-87.648670,POINT (-87.64867 41.883668),41.919936,-87.648830,POINT (-87.64883 41.919936)

In [13]:
bk.index

Index(['Broadway & Sheridan Rd', 'Michigan Ave & 8th St',
       'Michigan Ave & 8th St', 'Millennium Park', 'Green St & Randolph St',
       'Mies van der Rohe Way & Chestnut St', 'Maplewood Ave & Peterson Ave',
       'Clinton St & Jackson Blvd', 'Indiana Ave & Roosevelt Rd',
       'Dearborn St & Van Buren St',
       ...
       'State St & Kinzie St', 'Sheffield Ave & Fullerton Ave',
       'Dearborn St & Erie St', 'Lincoln Ave & Diversey Pkwy',
       'Sheridan Rd & Irving Park Rd', 'Wabash Ave & Grand Ave',
       'Seeley Ave & Roscoe St', 'Clinton St & Madison St',
       'Franklin St & Illinois St', 'Ashland Ave & Grace St'],
      dtype='object', name='FROM STATION NAME', length=2033)

In [15]:
bk.columns

Index(['TRIP ID', 'START TIME', 'STOP TIME', 'BIKE ID', 'TRIP DURATION',
       'FROM STATION ID', 'TO STATION ID', 'TO STATION NAME', 'USER TYPE',
       'GENDER', 'BIRTH YEAR', 'FROM LATITUDE', 'FROM LONGITUDE',
       'FROM LOCATION', 'TO LATITUDE', 'TO LONGITUDE', 'TO LOCATION'],
      dtype='object')

In [16]:
bk.values

array([[25962904, '12/31/2019 11:57:17 PM', '12/31/2019 11:59:18 PM',
        ..., 41.954245, -87.65440600000001,
        'POINT (-87.654406 41.954245)'],
       [25962903, '12/31/2019 11:57:11 PM', '01/01/2020 12:05:45 AM',
        ..., 41.886024, -87.624117, 'POINT (-87.624117 41.886024)'],
       [25962902, '12/31/2019 11:57:05 PM', '01/01/2020 12:05:46 AM',
        ..., 41.886024, -87.624117, 'POINT (-87.624117 41.886024)'],
       ...,
       [25960619, '12/31/2019 12:07:23 AM', '12/31/2019 12:12:54 AM',
        ..., 41.891578, -87.648384, 'POINT (-87.648384 41.891578)'],
       [25960618, '12/31/2019 12:04:36 AM', '12/31/2019 12:07:57 AM',
        ..., 41.893992, -87.62931800000001,
        'POINT (-87.629318 41.893992)'],
       [25960617, '12/31/2019 12:02:30 AM', '12/31/2019 12:09:15 AM',
        ..., 41.95602, -87.680293, 'POINT (-87.680293 41.95602)']],
      dtype=object)

In [15]:
import pandas as pd

movie = pd.read_csv('movie_metadata.csv', index_col = 'director_name')
movie.head()

,color,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,actor_1_name,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
director_name,,,,,,,,,,,,,,,,,,,,,
James Cameron,Color,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,CCH Pounder,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
Gore Verbinski,Color,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,Johnny Depp,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
Sam Mendes,Color,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,Christoph Waltz,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
Christopher Nolan,Color,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,Tom Hardy,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
Doug Walker,NaN,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,Doug Walker,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

In [16]:
idx = movie.index
idx

Index([    'James Cameron',    'Gore Verbinski',        'Sam Mendes',
       'Christopher Nolan',       'Doug Walker',    'Andrew Stanton',
               'Sam Raimi',      'Nathan Greno',       'Joss Whedon',
             'David Yates',
       ...
           'Shane Carruth',  'Neill Dela Llana',  'Robert Rodriguez',
         'Anthony Vallone',      'Edward Burns',       'Scott Smith',
                       nan,  'Benjamin Roberds',       'Daniel Hsia',
                'Jon Gunn'],
      dtype='object', name='director_name', length=5043)

In [17]:
type(idx)

pandas.core.indexes.base.Index

In [18]:
idx[5]

'Andrew Stanton'

# Exercise

In [19]:
pd.set_option('display.max_columns', 20)
movie = pd.read_csv('movie_metadata.csv')
movie.head(3)

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000

In [21]:
movie = pd.read_csv('movie_metadata.csv', index_col = 'actor_2_name')
movie.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_1_facebook_likes,gross,genres,actor_1_name,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
actor_2_name,,,,,,,,,,,,,,,,,,,,,
Joel David Moore,Color,James Cameron,723.0,178.0,0.0,855.0,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,CCH Pounder,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
Orlando Bloom,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,40000.0,309404152.0,Action|Adventure|Fantasy,Johnny Depp,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
Rory Kinnear,Color,Sam Mendes,602.0,148.0,0.0,161.0,11000.0,200074175.0,Action|Adventure|Thriller,Christoph Waltz,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
Christian Bale,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,27000.0,448130642.0,Action|Thriller,Tom Hardy,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
Rob Walker,NaN,Doug Walker,NaN,NaN,131.0,NaN,131.0,NaN,Documentary,Doug Walker,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

In [24]:
movie2 = pd.read_csv('movie_metadata.csv')
movie2.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

In [25]:
movie2.set_index('director_name')

,color,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,actor_1_name,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
director_name,,,,,,,,,,,,,,,,,,,,,
James Cameron,Color,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,CCH Pounder,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
Gore Verbinski,Color,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,Johnny Depp,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
Sam Mendes,Color,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,Christoph Waltz,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
Christopher Nolan,Color,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,Tom Hardy,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
Doug Walker,NaN,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,Doug Walker,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Scott Smith,Color,1.0,87.0,2.0,318.0,Daphne Zuniga,637.0,NaN,Comedy|Drama,Eric Mabius,...,6.0,English,Canada,NaN,NaN,2013.0,470.0,7.7,NaN,84
NaN,Color,43.0,43.0,NaN,319.0,Valorie Curry,841.0,NaN,Crime|Drama|Mystery|Thriller,Natalie Zea,...,359.0,English,USA,TV-14,NaN,NaN,593.0,7.5,16.00,32000
Benjamin Roberds,Color,13.0,76.0,0.0,0.0,Maxwell Moody,0.0,NaN,Drama|Horror|Thriller,Eva Boehnke,...,3.0,English,USA,NaN,1400.0,2013.0,0.0,6.3,NaN,16
Daniel Hsia,Color,14.0,100.0,0.0,489.0,Daniel Henney,946.0,10443.0,Comedy|Drama|Romance,Alan Ruck,...,9.0,English,USA,PG-13,NaN,2012.0,719.0,6.3,2.35,660
Jon Gunn,Color,43.0,90.0,16.0,16.0,Brian Herzlinger,86.0,85222.0,Documentary,John August,...,84.0,English,USA,PG,1100.0,2004.0,23.0,6.6,1.85,456

In [27]:
m3 = movie2.set_index('director_name', drop=False)
m3.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
director_name,,,,,,,,,,,,,,,,,,,,,
James Cameron,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
Gore Verbinski,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
Sam Mendes,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
Christopher Nolan,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
Doug Walker,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

In [30]:
idx = m3.index
idx[-10:]

Index([   'Shane Carruth', 'Neill Dela Llana', 'Robert Rodriguez',
        'Anthony Vallone',     'Edward Burns',      'Scott Smith',
                      nan, 'Benjamin Roberds',      'Daniel Hsia',
               'Jon Gunn'],
      dtype='object', name='director_name')

AttributeError: 'Index' object has no attribute 'tail'