# Boolean Indexing

In [2]:
import pandas as pd

bikes = pd.read_csv('Divvy_Trips.csv')
bikes.head()

,TRIP ID,START TIME,STOP TIME,BIKE ID,TRIP DURATION,FROM STATION ID,FROM STATION NAME,TO STATION ID,TO STATION NAME,USER TYPE,GENDER,BIRTH YEAR,FROM LATITUDE,FROM LONGITUDE,FROM LOCATION,TO LATITUDE,TO LONGITUDE,TO LOCATION
0,25962904,12/31/2019 11:57:17 PM,12/31/2019 11:59:18 PM,5930,120,256,Broadway & Sheridan Rd,240,Sheridan Rd & Irving Park Rd,Subscriber,Male,1982.0,41.952833,-87.649993,POINT (-87.649993 41.952833),41.954245,-87.654406,POINT (-87.654406 41.954245)
1,25962903,12/31/2019 11:57:11 PM,01/01/2020 12:05:45 AM,2637,514,623,Michigan Ave & 8th St,52,Michigan Ave & Lake St,Subscriber,Female,1970.0,41.872773,-87.623981,POINT (-87.623981 41.872773),41.886024,-87.624117,POINT (-87.624117 41.886024)
2,25962902,12/31/2019 11:57:05 PM,01/01/2020 12:05:46 AM,863,520,623,Michigan Ave & 8th St,52,Michigan Ave & Lake St,Subscriber,Male,1967.0,41.872773,-87.623981,POINT (-87.623981 41.872773),41.886024,-87.624117,POINT (-87.624117 41.886024)
3,25962901,12/31/2019 11:56:34 PM,01/01/2020 12:22:08 AM,4877,1533,90,Millennium Park,90,Millennium Park,Subscriber,Male,1992.0,41.881032,-87.624084,POINT (-87.62408432 41.8810317),41.881032,-87.624084,POINT (-87.62408432 41.8810317)
4,25962900,12/31/2019 11:56:13 PM,01/01/2020 12:15:45 AM,2196,1172,112,Green St & Randolph St,225,Halsted St & Dickens Ave,Subscriber,Male,1981.0,41.883668,-87.648670,POINT (-87.64867 41.883668),41.919936,-87.648830,POINT (-87.64883 41.919936)

In [3]:
bikes[['TRIP DURATION']]

      TRIP DURATION
0               120
1               514
2               520
3              1533
4              1172
...             ...
2028            568
2029            703
2030            330
2031            201
2032            405

[2033 rows x 1 columns]

In [11]:
filt = bikes['TRIP DURATION'] > 1500
filt.head()

0    False
1    False
2    False
3     True
4    False
Name: TRIP DURATION, dtype: bool

In [15]:
bikes[filt].head(2)

,TRIP ID,START TIME,STOP TIME,BIKE ID,TRIP DURATION,FROM STATION ID,FROM STATION NAME,TO STATION ID,TO STATION NAME,USER TYPE,GENDER,BIRTH YEAR,FROM LATITUDE,FROM LONGITUDE,FROM LOCATION,TO LATITUDE,TO LONGITUDE,TO LOCATION
3,25962901,12/31/2019 11:56:34 PM,01/01/2020 12:22:08 AM,4877,1533,90,Millennium Park,90,Millennium Park,Subscriber,Male,1992.0,41.881032,-87.624084,POINT (-87.62408432 41.8810317),41.881032,-87.624084,POINT (-87.62408432 41.8810317)
5,25962899,12/31/2019 11:54:54 PM,01/01/2020 12:22:02 AM,5996,1628,145,Mies van der Rohe Way & Chestnut St,25,Michigan Ave & Pearson St,Subscriber,Male,1992.0,41.898587,-87.621915,POINT (-87.6219152258 41.8985866514),41.897660,-87.623510,POINT (-87.62351 41.89766)

In [18]:
filt = bikes['GENDER'] == 'Female'
bikes[filt].head()

,TRIP ID,START TIME,STOP TIME,BIKE ID,TRIP DURATION,FROM STATION ID,FROM STATION NAME,TO STATION ID,TO STATION NAME,USER TYPE,GENDER,BIRTH YEAR,FROM LATITUDE,FROM LONGITUDE,FROM LOCATION,TO LATITUDE,TO LONGITUDE,TO LOCATION
1,25962903,12/31/2019 11:57:11 PM,01/01/2020 12:05:45 AM,2637,514,623,Michigan Ave & 8th St,52,Michigan Ave & Lake St,Subscriber,Female,1970.0,41.872773,-87.623981,POINT (-87.623981 41.872773),41.886024,-87.624117,POINT (-87.624117 41.886024)
9,25962895,12/31/2019 11:50:05 PM,12/31/2019 11:53:33 PM,1720,208,624,Dearborn St & Van Buren St,81,Daley Center Plaza,Subscriber,Female,1990.0,41.876268,-87.629155,POINT (-87.629155 41.876268),41.884241,-87.629634,POINT (-87.629634 41.884241)
13,25962887,12/31/2019 11:43:41 PM,01/01/2020 12:56:43 AM,73,4381,289,Wells St & Concord Ln,289,Wells St & Concord Ln,Subscriber,Female,1996.0,41.912133,-87.634656,POINT (-87.634656 41.912133),41.912133,-87.634656,POINT (-87.634656 41.912133)
15,25962885,12/31/2019 11:42:11 PM,01/01/2020 12:24:21 AM,389,2530,145,Mies van der Rohe Way & Chestnut St,26,McClurg Ct & Illinois St,Subscriber,Female,1979.0,41.898587,-87.621915,POINT (-87.6219152258 41.8985866514),41.890359,-87.617532,POINT (-87.617532 41.890359)
16,25962882,12/31/2019 11:41:49 PM,01/01/2020 12:28:39 AM,269,2809,394,Clark St & 9th St (AMLI),394,Clark St & 9th St (AMLI),Subscriber,Female,1974.0,41.870816,-87.631246,POINT (-87.631246 41.870816),41.870816,-87.631246,POINT (-87.631246 41.870816)

# Boolean Indexing Multiple Condition

In [24]:
bikes = pd.read_csv('Divvy_Trips.csv', index_col = 'USER TYPE')
bikes.head(3)

,TRIP ID,START TIME,STOP TIME,BIKE ID,TRIP DURATION,FROM STATION ID,FROM STATION NAME,TO STATION ID,TO STATION NAME,GENDER,BIRTH YEAR,FROM LATITUDE,FROM LONGITUDE,FROM LOCATION,TO LATITUDE,TO LONGITUDE,TO LOCATION
USER TYPE,,,,,,,,,,,,,,,,,
Subscriber,25962904,12/31/2019 11:57:17 PM,12/31/2019 11:59:18 PM,5930,120,256,Broadway & Sheridan Rd,240,Sheridan Rd & Irving Park Rd,Male,1982.0,41.952833,-87.649993,POINT (-87.649993 41.952833),41.954245,-87.654406,POINT (-87.654406 41.954245)
Subscriber,25962903,12/31/2019 11:57:11 PM,01/01/2020 12:05:45 AM,2637,514,623,Michigan Ave & 8th St,52,Michigan Ave & Lake St,Female,1970.0,41.872773,-87.623981,POINT (-87.623981 41.872773),41.886024,-87.624117,POINT (-87.624117 41.886024)
Subscriber,25962902,12/31/2019 11:57:05 PM,01/01/2020 12:05:46 AM,863,520,623,Michigan Ave & 8th St,52,Michigan Ave & Lake St,Male,1967.0,41.872773,-87.623981,POINT (-87.623981 41.872773),41.886024,-87.624117,POINT (-87.624117 41.886024)

In [26]:
filt1 = bikes['TRIP DURATION'] > 2000
filt2 = bikes['GENDER'] == 'Female'
filt = filt1 & filt2

bikes[filt].head(10)

,TRIP ID,START TIME,STOP TIME,BIKE ID,TRIP DURATION,FROM STATION ID,FROM STATION NAME,TO STATION ID,TO STATION NAME,GENDER,BIRTH YEAR,FROM LATITUDE,FROM LONGITUDE,FROM LOCATION,TO LATITUDE,TO LONGITUDE,TO LOCATION
USER TYPE,,,,,,,,,,,,,,,,,
Subscriber,25962887,12/31/2019 11:43:41 PM,01/01/2020 12:56:43 AM,73,4381,289,Wells St & Concord Ln,289,Wells St & Concord Ln,Female,1996.0,41.912133,-87.634656,POINT (-87.634656 41.912133),41.912133,-87.634656,POINT (-87.634656 41.912133)
Subscriber,25962885,12/31/2019 11:42:11 PM,01/01/2020 12:24:21 AM,389,2530,145,Mies van der Rohe Way & Chestnut St,26,McClurg Ct & Illinois St,Female,1979.0,41.898587,-87.621915,POINT (-87.6219152258 41.8985866514),41.890359,-87.617532,POINT (-87.617532 41.890359)
Subscriber,25962882,12/31/2019 11:41:49 PM,01/01/2020 12:28:39 AM,269,2809,394,Clark St & 9th St (AMLI),394,Clark St & 9th St (AMLI),Female,1974.0,41.870816,-87.631246,POINT (-87.631246 41.870816),41.870816,-87.631246,POINT (-87.631246 41.870816)
Subscriber,25962827,12/31/2019 10:36:41 PM,12/31/2019 11:12:45 PM,389,2164,176,Clark St & Elm St,145,Mies van der Rohe Way & Chestnut St,Female,1979.0,41.902973,-87.631280,POINT (-87.63128 41.902973),41.898587,-87.621915,POINT (-87.6219152258 41.8985866514)
Subscriber,25962811,12/31/2019 09:49:30 PM,12/31/2019 10:23:32 PM,5981,2041,347,Ashland Ave & Grace St,276,California Ave & North Ave,Female,1992.0,41.950687,-87.668700,POINT (-87.6687 41.950687),41.910440,-87.697200,POINT (-87.6972 41.91044)
Subscriber,25962645,12/31/2019 07:00:33 PM,12/31/2019 07:42:22 PM,1858,2508,161,Rush St & Superior St,161,Rush St & Superior St,Female,1979.0,41.895765,-87.625908,POINT (-87.6259080327 41.89576474564),41.895765,-87.625908,POINT (-87.6259080327 41.89576474564)
Subscriber,25962509,12/31/2019 05:51:04 PM,12/31/2019 06:28:13 PM,3571,2228,191,Canal St & Monroe St,67,Sheffield Ave & Fullerton Ave,Female,1958.0,41.881690,-87.639530,POINT (-87.63953 41.88169),41.925602,-87.653708,POINT (-87.6537080423 41.9256018819)
Subscriber,25962253,12/31/2019 04:27:07 PM,12/31/2019 05:03:43 PM,2417,2196,35,Streeter Dr & Grand Ave,213,Leavitt St & North Ave,Female,1982.0,41.892278,-87.612043,POINT (-87.612043 41.892278),41.910153,-87.682290,POINT (-87.68229 41.910153)
Subscriber,25961828,12/31/2019 02:32:16 PM,12/31/2019 03:08:47 PM,2612,2191,520,Greenview Ave & Jarvis Ave,523,Eastlake Ter & Rogers Ave,Female,1955.0,42.015962,-87.668570,POINT (-87.66857 42.015962),42.020853,-87.665034,POINT (-87.665033787489 42.020853406051)
Subscriber,25961442,12/31/2019 12:18:51 PM,12/31/2019 12:54:38 PM,999,2146,157,Lake Shore Dr & Wellington Ave,26,McClurg Ct & Illinois St,Female,1983.0,41.936688,-87.636829,POINT (-87.636829018593 41.9366884495),41.890359,-87.617532,POINT (-87.617532 41.890359)

In [28]:
bikes = pd.read_csv('Divvy_Trips.csv', parse_dates = ['START TIME', 'STOP TIME'])

In [30]:
bikes.head(5)

,TRIP ID,START TIME,STOP TIME,BIKE ID,TRIP DURATION,FROM STATION ID,FROM STATION NAME,TO STATION ID,TO STATION NAME,USER TYPE,GENDER,BIRTH YEAR,FROM LATITUDE,FROM LONGITUDE,FROM LOCATION,TO LATITUDE,TO LONGITUDE,TO LOCATION
0,25962904,2019-12-31 23:57:17,2019-12-31 23:59:18,5930,120,256,Broadway & Sheridan Rd,240,Sheridan Rd & Irving Park Rd,Subscriber,Male,1982.0,41.952833,-87.649993,POINT (-87.649993 41.952833),41.954245,-87.654406,POINT (-87.654406 41.954245)
1,25962903,2019-12-31 23:57:11,2020-01-01 00:05:45,2637,514,623,Michigan Ave & 8th St,52,Michigan Ave & Lake St,Subscriber,Female,1970.0,41.872773,-87.623981,POINT (-87.623981 41.872773),41.886024,-87.624117,POINT (-87.624117 41.886024)
2,25962902,2019-12-31 23:57:05,2020-01-01 00:05:46,863,520,623,Michigan Ave & 8th St,52,Michigan Ave & Lake St,Subscriber,Male,1967.0,41.872773,-87.623981,POINT (-87.623981 41.872773),41.886024,-87.624117,POINT (-87.624117 41.886024)
3,25962901,2019-12-31 23:56:34,2020-01-01 00:22:08,4877,1533,90,Millennium Park,90,Millennium Park,Subscriber,Male,1992.0,41.881032,-87.624084,POINT (-87.62408432 41.8810317),41.881032,-87.624084,POINT (-87.62408432 41.8810317)
4,25962900,2019-12-31 23:56:13,2020-01-01 00:15:45,2196,1172,112,Green St & Randolph St,225,Halsted St & Dickens Ave,Subscriber,Male,1981.0,41.883668,-87.648670,POINT (-87.64867 41.883668),41.919936,-87.648830,POINT (-87.64883 41.919936)

In [31]:
birth = bikes['BIRTH YEAR']
birth.head(3)

0    1982.0
1    1970.0
2    1967.0
Name: BIRTH YEAR, dtype: float64

In [34]:
filt = birth > 1990
birth[filt]

3       1992.0
5       1992.0
7       1997.0
11      1994.0
13      1996.0
         ...
2020    2001.0
2026    1995.0
2027    1991.0
2031    1995.0
2032    1991.0
Name: BIRTH YEAR, Length: 572, dtype: float64

In [37]:
filt1 = birth < 1975
filt2 = birth > 2000

filt = filt1 | filt2
birth[filt]

1       1970.0
2       1967.0
10      1966.0
16      1974.0
36      1964.0
         ...
2011    1969.0
2013    2001.0
2015    1970.0
2017    2001.0
2020    2001.0
Name: BIRTH YEAR, Length: 451, dtype: float64

In [39]:
bikes = pd.read_csv('Divvy_Trips.csv', parse_dates = ['START TIME', 'STOP TIME'], index_col = 'START TIME')
bikes.head(3)

,TRIP ID,STOP TIME,BIKE ID,TRIP DURATION,FROM STATION ID,FROM STATION NAME,TO STATION ID,TO STATION NAME,USER TYPE,GENDER,BIRTH YEAR,FROM LATITUDE,FROM LONGITUDE,FROM LOCATION,TO LATITUDE,TO LONGITUDE,TO LOCATION
START TIME,,,,,,,,,,,,,,,,,
2019-12-31 23:57:17,25962904,2019-12-31 23:59:18,5930,120,256,Broadway & Sheridan Rd,240,Sheridan Rd & Irving Park Rd,Subscriber,Male,1982.0,41.952833,-87.649993,POINT (-87.649993 41.952833),41.954245,-87.654406,POINT (-87.654406 41.954245)
2019-12-31 23:57:11,25962903,2020-01-01 00:05:45,2637,514,623,Michigan Ave & 8th St,52,Michigan Ave & Lake St,Subscriber,Female,1970.0,41.872773,-87.623981,POINT (-87.623981 41.872773),41.886024,-87.624117,POINT (-87.624117 41.886024)
2019-12-31 23:57:05,25962902,2020-01-01 00:05:46,863,520,623,Michigan Ave & 8th St,52,Michigan Ave & Lake St,Subscriber,Male,1967.0,41.872773,-87.623981,POINT (-87.623981 41.872773),41.886024,-87.624117,POINT (-87.624117 41.886024)

In [40]:
birth = bikes['BIRTH YEAR']
birth.head(3)

START TIME
2019-12-31 23:57:17    1982.0
2019-12-31 23:57:11    1970.0
2019-12-31 23:57:05    1967.0
Name: BIRTH YEAR, dtype: float64

In [42]:
filt = birth.between(1990,2000)
birth[filt].head()

START TIME
2019-12-31 23:56:34    1992.0
2019-12-31 23:54:54    1992.0
2019-12-31 23:51:19    1997.0
2019-12-31 23:50:19    1990.0
2019-12-31 23:50:05    1990.0
Name: BIRTH YEAR, dtype: float64

In [44]:
bikes[filt].head(5)

,TRIP ID,STOP TIME,BIKE ID,TRIP DURATION,FROM STATION ID,FROM STATION NAME,TO STATION ID,TO STATION NAME,USER TYPE,GENDER,BIRTH YEAR,FROM LATITUDE,FROM LONGITUDE,FROM LOCATION,TO LATITUDE,TO LONGITUDE,TO LOCATION
START TIME,,,,,,,,,,,,,,,,,
2019-12-31 23:56:34,25962901,2020-01-01 00:22:08,4877,1533,90,Millennium Park,90,Millennium Park,Subscriber,Male,1992.0,41.881032,-87.624084,POINT (-87.62408432 41.8810317),41.881032,-87.624084,POINT (-87.62408432 41.8810317)
2019-12-31 23:54:54,25962899,2020-01-01 00:22:02,5996,1628,145,Mies van der Rohe Way & Chestnut St,25,Michigan Ave & Pearson St,Subscriber,Male,1992.0,41.898587,-87.621915,POINT (-87.6219152258 41.8985866514),41.897660,-87.623510,POINT (-87.62351 41.89766)
2019-12-31 23:51:19,25962897,2019-12-31 23:55:33,5654,254,638,Clinton St & Jackson Blvd,134,Peoria St & Jackson Blvd,Subscriber,Male,1997.0,41.878116,-87.639838,POINT (-87.639838457108 41.878116030105),41.877642,-87.649618,POINT (-87.649617791176 41.877641596275)
2019-12-31 23:50:19,25962896,2019-12-31 23:55:37,4561,318,255,Indiana Ave & Roosevelt Rd,3,Shedd Aquarium,Subscriber,Male,1990.0,41.867888,-87.623041,POINT (-87.623041 41.867888),41.867226,-87.615355,POINT (-87.6153553902 41.86722595682)
2019-12-31 23:50:05,25962895,2019-12-31 23:53:33,1720,208,624,Dearborn St & Van Buren St,81,Daley Center Plaza,Subscriber,Female,1990.0,41.876268,-87.629155,POINT (-87.629155 41.876268),41.884241,-87.629634,POINT (-87.629634 41.884241)

In [45]:
bikes = pd.read_csv('Divvy_Trips.csv')
bikes.head()

,TRIP ID,START TIME,STOP TIME,BIKE ID,TRIP DURATION,FROM STATION ID,FROM STATION NAME,TO STATION ID,TO STATION NAME,USER TYPE,GENDER,BIRTH YEAR,FROM LATITUDE,FROM LONGITUDE,FROM LOCATION,TO LATITUDE,TO LONGITUDE,TO LOCATION
0,25962904,12/31/2019 11:57:17 PM,12/31/2019 11:59:18 PM,5930,120,256,Broadway & Sheridan Rd,240,Sheridan Rd & Irving Park Rd,Subscriber,Male,1982.0,41.952833,-87.649993,POINT (-87.649993 41.952833),41.954245,-87.654406,POINT (-87.654406 41.954245)
1,25962903,12/31/2019 11:57:11 PM,01/01/2020 12:05:45 AM,2637,514,623,Michigan Ave & 8th St,52,Michigan Ave & Lake St,Subscriber,Female,1970.0,41.872773,-87.623981,POINT (-87.623981 41.872773),41.886024,-87.624117,POINT (-87.624117 41.886024)
2,25962902,12/31/2019 11:57:05 PM,01/01/2020 12:05:46 AM,863,520,623,Michigan Ave & 8th St,52,Michigan Ave & Lake St,Subscriber,Male,1967.0,41.872773,-87.623981,POINT (-87.623981 41.872773),41.886024,-87.624117,POINT (-87.624117 41.886024)
3,25962901,12/31/2019 11:56:34 PM,01/01/2020 12:22:08 AM,4877,1533,90,Millennium Park,90,Millennium Park,Subscriber,Male,1992.0,41.881032,-87.624084,POINT (-87.62408432 41.8810317),41.881032,-87.624084,POINT (-87.62408432 41.8810317)
4,25962900,12/31/2019 11:56:13 PM,01/01/2020 12:15:45 AM,2196,1172,112,Green St & Randolph St,225,Halsted St & Dickens Ave,Subscriber,Male,1981.0,41.883668,-87.648670,POINT (-87.64867 41.883668),41.919936,-87.648830,POINT (-87.64883 41.919936)